{% extends "base.html" %}
{% block title %} - Welcome{% endblock %}
{% block content %}
<div id="header">
    <div class="logo">
        <img src="/static/images/PNG/lul_logo_small.png" />
    </div>
    <div class="langswitch">
        <ul class="language-switcher">
            <a class="en" href="127.0.0.1:5000/">English</a>
            <a class="fr" href="127.0.0.1:5000/fr/">Français</a>
        </ul>
    </div>
</div>
<div>
<h1>Laurentian Student Newspapers{{ self.title }}</h1>
</div>
<form method="get" action="/search" id="search-terms">
    <div>
        <label for="query">Search terms</label>
        <input id="query" name="query" type="search" 
            {% if terms is defined %}
                value="{{ terms }}"
            {% else %}
                placeholder="Input search terms here"
            {% endif %}
        autofocus />
    </div>
    <div><input type="submit" /></div>
</form>
{% endblock %}
